.ps-footer {
    position: relative;
}

.ps-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.065);
}

.ps-footer__content {
    padding: 30px 0;
}

.ps-footer__copyright {
    position: relative;
    padding: 40px 0;
}

.ps-footer__copyright p {
    margin-bottom: 0;
    /* font-family: "Archivo Narrow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.05em; */
}

.ps-footer__copyright p a {
    font-family: inherit;
    font-weight: 700;
}

@media (max-width: 991px) {
    .ps-footer__content {
        padding-bottom: 10px;
    }
}

.ps-widget--footer {
    position: relative;
}

.ps-widget--footer .ps-list--icon {
    margin-bottom: 25px;
}

.ps-widget--footer .ps-list--icon li {
    padding-top: 6px;
    margin-right: 10px;
    display: inline-block;
}

.ps-widget--footer .ps-list--icon li a {
    display: block;
    font-size: 1.2rem;
    border-radius: 5px;
    /* background-color: #fff; */
    border: 1px solid rgb(154, 154, 154);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 6px 10px;
    min-width: 45px;
    text-align: center;
}

.ps-widget--footer .ps-list--icon li a:hover {
    background-color: rgb(232, 232, 232);
}

.ps-widget--footer .ps-senmail_order h4 {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.8em;
    text-transform: uppercase;
}

.ps-widget--footer .ps-senmail_order .ps-senmail_order-form {
    display: flex;
    justify-content: start;
}

.ps-widget--footer .ps-senmail_order .ps-senmail_order-form>input {
    outline: none;
    border: none;
    padding: 0 35px 0 20px;
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -ms-border-radius: 3px 0px 0px 3px;
    -o-border-radius: 3px 0px 0px 3px;
}

.ps-widget--footer .ps-senmail_order .ps-senmail_order-form>button {
    border: none;
    overflow: unset;
    outline: none;
    padding: 7px 6px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    background-color: var(--background-color);
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -ms-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
}

.ps-widget--footer .ps-list--bank_img h4 {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.8em;
    text-transform: uppercase;
}

.ps-widget--footer .ps-list--bank_img ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ps-widget--footer .ps-list--bank_img img {
    max-width: 50px;
    user-select: none;
}

.ps-widget--footer .ps-widget__title {
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    /* font-size: 1rem; */
}

.ps-widget--footer .ps-list--line {}

.ps-widget--footer .ps-list--line li a {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.ps-widget--footer .ps-list--line li a:hover {
    text-decoration: underline;
}

.ps-widget--footer .ps-list--line li {
    padding: 6px 0;
}