.form {
    width: 100%;
    position: relative;
    margin-bottom: 35px;
    /* overflow: hidden; */
}

.form .form-input {
    width: 100%;
    color: #121212;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

.form>label {
    position: absolute;
    left: 0;
    pointer-events: none;
    margin: 9px;
    padding: 0 10px;
    transition: all 0.3s ease;
    font-size: 1.1rem;
    color: #acacac;
}

.form .error-text {
    position: absolute;
    left: 0;
    bottom: -40%;
    font-size: 0.9rem;
}

.form .form-input:focus {
    border: 2px solid #b1b1b1;
}

.form .form-input:focus+.label-name,
.form .form-input:not(:placeholder-shown)+.label-name {
    transform: translateY(-85%);
    font-size: 1.2rem;
    color: #000000;
    background-color: #ffffff;
}


/* ////////////////////////////// */

.btn-link {
    color: #ffffff;
    font-size: 2rem;
}


/* .sign_in .btn.btn-link:hover {
    color: #fff !important;
} */

.sign_in .link_sign_up {
    font-size: 2rem;
    padding: 5px 20px;
    border-radius: 7px;
    color: #ffffff;
    transition: border .3s linear;
}

.sign_in .link_sign_up:hover {
    border: 1px solid #d5d5d5;
}