.product-intro__properties {}

.product-intro__species {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

.product-intro__species .product-intro__species-item .product-intro__species-item_lable {
    min-width: 70px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
    user-select: none;
    color: rgb(143, 143, 143);
    margin-right: 20px;
}

.product-intro__up-down-title,
.product-intro__size-title {
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* input.product-intro__species-item_input:checked+.product-intro__species-item_lable {
    border: none;
    color: var(--hover);
    background-color: var(--lable-active);
} */

.product-intro__species .product-intro__species-item .product-intro__species-item_lable.active {
    border: none;
    color: var(--hover);
    background-color: var(--lable-active);
}

.product-intro__properties .error {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}